[Unit]
Description=openarmor Agent
PartOf=openarmor-agent.target

[Service]
EnvironmentFile=/etc/openarmor-init.conf
Environment=DIRECTORY=/var/openarmor

ExecStartPre=/usr/bin/env ${DIRECTORY}/bin/openarmor-agentd -t
ExecStart=/usr/bin/env ${DIRECTORY}/bin/openarmor-agentd -f
